.place__image {
  width: 460px;
}

@media screen and (max-width:1025px)
{
.place__image {
  width: 440px;
}
}

@media screen and (max-width:870px)
{
.place__image {
  width: 340px;
}
}

@media screen and (max-width:660px)
{
.place__image {
  width: 100%;
}
}

@media screen and (max-width:660px) and (max-height: 321px)
{
.place__image {
  width: 320px;
}
}
