.photo-grid__item {
  width: 284px;
}

@media screen and (max-width: 1185px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media screen and (max-width: 928px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media screen and (min-width: 593px) and (max-width: 720px)  {
  .photo-grid__item {
    width: 288px;
  }
}

@media screen and (max-width: 592px) {
  .photo-grid__item {
    width: calc(100vw - 32px);
  }
}

