.photo-grid__item {
  width: 284px;
}

@media screen and (max-width: 1205px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media screen and (max-width: 948px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media screen and (min-width: 612px) and (max-width: 741px)  {
  .photo-grid__item {
    width: 288px;
  }
}

@media screen and (max-width: 612px) {
  .photo-grid__item {
    width: calc(100vw - 32px);
  }
}

@media screen and (max-width: 660px) and (max-height: 321px) {
  .photo-grid__item {
    width: 288px;
  }
}

